streamlit
boto3
pdfplumber
pymupdf
langchain
langchain-community
sentence-transformers
transformers
torch
opensearch-py
fastapi
uvicorn
pydantic
numpy
pandas
scikit-learn
requests
python-dotenv
tqdm
openai
pypdf
pymongo
requests-aws4auth
-e .